


<!--TODO исправить проблему со скроллингом. Скроллинг почему то запоминается и позиция бегунка переходит на другие страниц.-->

<!--@if (isProduct) {-->
<!--  @for (item of products; track item.id) {-->
<!--    <li>{{ item.name }}</li>-->
<!--  }-->
<!--}-->

<div class="content">
  <div class="b-content">


    @if (isProduct) {
      @for (item of products; track item.id) {

        <div class="b-product">
          <a href="/">
            <div class="b-img-p">
              <img src="/img/{{ item.url_img1 }}" alt="product image">
            </div>
          </a>
          <div class="b-description">
            <a href="/">
              <div class="text">
                {{ item.name }}
              </div>
            </a>
            <div class="price">
              <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
              class="kopecks">45</span>
            </div>
            <div class="b-rating">
              <div class="star">
                <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                     width="24px">
                  <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
                </svg>
              </div>
              <div class="star">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                     width="24px" class="rating-star">
                  <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
                </svg>
              </div>
              <div class="star">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                     width="24px" class="rating-star">
                  <path
                    d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
                </svg>
              </div>
              <div class="star">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                     width="24px" class="rating-star">
                  <path
                    d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
                </svg>
              </div>
              <div class="star">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                     width="24px" class="rating-star">
                  <path
                    d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
                </svg>
              </div>
              <div class="amount"> 245</div>
            </div>
          </div>
          <!--Жёлтая кнопка 2-->
          <div class="btn-b glow">
            В корзину
          </div>
          <!--Жёлтая кнопка 2 -->
        </div>


      }
    }






    <!--<div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img1.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Бумажные полотенца Scott, выбор листов, 6 двойных рулонов = 12 обычных рулонов (108 листов в рулоне)
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img2.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Держатель для бумажных полотенец - самоклеящийся или с отверстием для сверления, матово-черный, модернизированный алюминиевый диспенсер для кухонных полотенец под шкафом, легче, но прочнее, чем нержавеющая сталь!
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img3.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Офисное кресло ELABEST Mesh, эргономичное компьютерное кресло, прочное рабочее кресло с регулируемой поясничной поддержкой и подлокотниками, функцией наклона, удобным широким сиденьем, вращающееся кресло для домашнего офиса (черное)
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img1.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Кухонные электронные весы Mik-Nana, 10 кг/22 фунта, весы в граммах и унциях для выпечки, приготовления кофе, почтовая упаковка, 6 весов с функцией тарирования, ЖК-дисплей, легко моющаяся нержавеющая сталь
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img2.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            40 контейнеров для хранения продуктов с герметичными крышками (20 крышек и 20 контейнеров) — герметичные контейнеры для хранения еды на кухне, многоразовые, пластиковые, подходят для использования в микроволновой печи/посудомоечной машине, с этикетками и ручкой
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img3.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Стол-консоль IRONCK для прихожей, 47 дюймов, с ящиком для гостиной, деревянный журнальный столик с местом для хранения, в стиле модерн середины века, черный
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img1.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Консольный столик Treocho 47 дюймов с рифленой столешницей и 3 ящиками. Узкий длинный столик для прихожей с местом для хранения и полкой. Двухъярусный столик для дивана за диваном. Вставные столики для прихожей, коридора, гостиной. Черный цвет.
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img2.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Коврики для ванной OLANLY 30x20, очень мягкие, впитывающие, из шенилла, с резиновой основой, быстросохнущие, можно стирать в стиральной машине, для ванной и душа, аксессуары для домашнего декора, серые
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img3.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Набор из 5 силиконовых лопаток из пищевой резины. Усиленная ручка с эргономичным захватом. Термостойкость до 600°F. Подходит для посуды с антипригарным покрытием.
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img1.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Тонкие бархатные нескользящие вешалки для костюмов Amazon Basics, упаковка 50 шт., чёрные
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img2.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Цифровой термометр для мяса с мгновенным считыванием показаний 0,5 с и точностью ±0,5°F. Пищевой термометр для приготовления пищи, кухонных гаджетов, духовок, грилей, конфет, барбекю, необходимых аксессуаров, подарков для него, папы, мужчины, на день рождения, красный.
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img3.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Бумажные полотенца Scott, выбор листов, 6 двойных рулонов = 12 обычных рулонов (108 листов в рулоне)
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>


    <div class="b-product">
      <a href="/">
        <div class="b-img-p">
          <img src="/img/img1.png" alt="product image">
        </div>
      </a>
      <div class="b-description">
        <a href="/">
          <div class="text">
            Держатель для бумажных полотенец - самоклеящийся или с отверстием для сверления, матово-черный, модернизированный алюминиевый диспенсер для кухонных полотенец под шкафом, легче, но прочнее, чем нержавеющая сталь!
          </div>
        </a>
        <div class="price">
          <span class="symbol">₽</span><span class="base-price">358</span><span class="dot">.</span><span
          class="kopecks">45</span>
        </div>
        <div class="b-rating">
          <div class="star">
            <svg class="rating-star" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m606-286-33-144 111-96-146-13-58-136v312l126 77ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="star">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                 width="24px" class="rating-star">
              <path
                d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"></path>
            </svg>
          </div>
          <div class="amount"> 245</div>
        </div>
      </div>
      &lt;!&ndash;Жёлтая кнопка 2&ndash;&gt;
      <div class="btn-b glow">
        В корзину
      </div>
      &lt;!&ndash;Жёлтая кнопка 2 &ndash;&gt;
    </div>-->

  </div>
</div>


<!--TODO Загрузчик-->


<!--<div class="load">-->

<!--  @if (!isProduct) {-->
<!--    &lt;!&ndash;&#45;&#45;Это эффект загрузки страницы. Как только приходит ответ с сервера, сразу надо скрыть-&#45;&#45;&ndash;&gt;-->
<!--    <app-c-loading class="d-cont"></app-c-loading>-->
<!--  }-->


<!--  <div class="filler"></div>-->

<!--  @if (isProduct) {-->
<!--    <app-c-pagination class="d-cont"></app-c-pagination>-->
<!--  }-->

<!--</div>-->



@if (!isProduct) {
  <div class="load">
    <!----Это эффект загрузки страницы. Как только приходит ответ с сервера, сразу надо скрыть----->
    <app-c-loading class="d-cont"></app-c-loading>
    <!--    <div class="filler"></div>-->
  </div>
}

@if (isProduct) {
  <div class="filler"></div>
  <app-c-pagination class="d-cont"></app-c-pagination>
}


