
.cookies {
  display: flex;
  position: fixed;
  width: 100%;
  height: 26rem;
  padding: 3rem 0 3rem 0;
  bottom: 0;
  z-index: 2;
  align-items: center;
}

.b-cookies {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1.4rem 0.2rem rgb(0 0 0 / 66%);
}

.message {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 1.8rem;
  text-align: center;
}

.button-cookies {
  background-color: aqua;
  width: 6.7rem;
  height: 5rem;
}

.box-button {
  display: block;
}

.button {
  width: 8rem;
  height: 4rem;
  background-color: var(--color-5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2rem;
  transition: var(--transform4) ease-in-out;
}

.button:hover {
  background-color: var(--color-4);
}

.button:active {
  box-shadow: var(--shadow-2);
}


.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


/* ≥270px */
@media (min-width: 16.875em) {

  .cookies {
    height: 17.5rem;
  }

}

/* ≥302px */
@media (min-width: 18.875em) {

  .cookies {
    height: 15rem;
  }

}

/* ≥576px */
@media (min-width: 36em) {

  .cookies {
    height: 6.5rem;
  }

  .b-cookies {
    flex-direction: row;
  }

  .message {
    text-align: start;
  }

}


/* ≥992px */
@media (min-width: 62em) {
  .cookies {
    width: 44rem;
    height: 8.5rem;
  }
  .message {
    text-align: center;
  }
}
