
.head {
  /*background-color: #379678;*/
  display: flex;
  padding: 2.5rem 0.5rem 2.5rem 0.5rem;
  gap: 2rem;
  flex-direction: column;
}

.name {
  /*background-color: #2a63a5;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem
}

.text1 {
  font-weight: bold;
}

.count {
  display: block;
}

.select-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check {
  display: flex;
}


.text2 {
  margin: 0 0 0 1rem;
}


.goods-cart {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  /*background-color: brown;*/
}

.cart {

  /*background-color: #ff9b00;*/

  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
  box-shadow: 0 0 0.8rem 0 rgb(191 191 191 / 50%);
  border-radius: 1rem 1rem 0 0;

  background-color: var(--color-11);

}

.orientation {
  display: contents;
}

.b-goods {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: hotpink;
  /*background-color: #2a63a5;*/
}

.b-goods img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.b-check {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.d-check {
  display: flex;
}

.f-check {
  /*float: right;*/
  /*height: 100%;*/
  /*margin: 0 1.5rem 0 1.5rem;*/
}


.flop-pen {
  display: flex;
}

.b-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.left1 {
  display: none;
  width: 34px;
  height: 100%;
}

.left2 {
  display: flex;
}

.left3 {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.text3 {
  flex: 1;
  word-break: normal;
  hyphens: auto;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  line-height: 2rem;
  min-height: 8.1rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.desktop {
  display: none;
}

.mobile {
  display: contents;
}

.up {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.plus {
  display: flex;
  background-color: var(--color-12);
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.qty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  font-size: 1.8rem;
}

.minus {
  display: flex;
  background-color: var(--color-12);
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 4rem;
}

.pd {
  display: flex;
  padding: 0 0 0 0.5rem;
  /*background-color: #fdf7e3;*/
  height: 9rem;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.b-price {
  display: flex;
  width: 100%;
  justify-content: center;
}

.price {
  padding: 1.5rem 0 0 0;
  font-size: 1rem;
}

.symbol {
  top: -0.7rem;
  position: relative;
  margin-right: 0.2rem;
}

.base-price {
  font-size: 1.8rem;
}

.dot {
  opacity: 0;
}

.kopecks {
  position: relative;
  top: -0.7rem;
  margin-left: -0.3rem;
}

.all-b-icon {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.b-icon {
  display: flex;
  /*background-color: var(--color-11);*/
  /*background-color: aqua;*/
  height: 100%;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
}

/* ≥270px */
@media (min-width: 16.875em) {

  /*.b-icon {*/
  /*  padding: 0 1rem 0 1rem;*/
  /*}*/
  .name {
    font-size: 1.6rem;
  }

  .head {
    padding: 3rem 2.5rem 3rem 2.5rem;
  }

  .count {
    margin: 0 0 0 1rem;
  }

  .name {
    justify-content: normal;
  }

  .select-all {
    justify-content: normal;
  }

  .checkbox {
    width: 2.6rem;
    height: 2.6rem;
  }

  .text3 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .base-price {
    font-size: 2rem;
  }

  .price {
    font-size: 1.2rem;
  }

  .qty {
    font-size: 2.5rem;
  }
}


/* ≥302px */
@media (min-width: 18.875em) {

  .name {
    font-size: 1.8rem;
  }

  /*.all-b-icon {
    !*justify-content: space-between;*!
    justify-content: flex-end;
    gap: 2rem;
  }

  .pd {
    flex-direction: row;
    !*height: 9rem;*!
    height: 5rem;
  }*/
  .cart {
    margin: 0 2rem 2rem 2rem;
  }

  .text3 {
    margin: 1rem 1rem 1rem 1rem;
  }

}

/* ≥439px */
@media (min-width: 27.438em) {

  .all-b-icon {
    /*justify-content: space-between;*/
    justify-content: flex-end;
    gap: 2rem;
  }

  .pd {
    flex-direction: row;
    /*height: 9rem;*/
    height: 5rem;
  }

}

/* ≥576px */
@media (min-width: 36em) {


  .name {
    font-size: 2rem;
  }


  .base-price {
    font-size: 2.5rem;
  }

  .price {
    font-size: 1.8rem;
  }


  .orientation {
    display: flex;
    /*flex-direction: row;*/
    /*align-items: stretch;*/
  }

  .b-goods {
    width: 30%; /* ← увеличили немного от 40% */
    flex: 0 0 30%; /* ← фиксируем, чтобы не “плавало” */
  }

  .b-description {
    width: 70%;
    flex: 0 0 70%;
  }


  .text3 {
    -webkit-line-clamp: 4;
  }


}

/* ≥768px */
@media (min-width: 48em) {

  .price {

  }

  .flop-pen {
    display: none;
  }

  .b-icon {
    height: auto;
  }

  .left1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .b-goods {
    max-width: 21.8rem;
  }

  .plus {
    width: 4rem;
    margin: 0 0 0 1rem;
  }

  .minus {
    width: 4rem;
  }

  .b-description {
    justify-content: space-between;
    flex: 1;
  }

  .all-b-icon {
    width: 15rem;
  }

  .desktop {
    display: flex;
    align-items: center;
  }

  .mobile {
    display: none;
  }

  .pd {
    display: none;
  }

}

/* ≥992px */
@media (min-width: 62em) {

  .name {
    font-size: 2.5rem;
  }

  .goods-cart {
    max-width: 76.7rem;
  }


}


