
.head {
  /*background-color: #379678;*/
  display: flex;
  padding: 25px 5px 25px 5px;
  gap: 2rem;
  flex-direction: column;
}

.name {
  /*background-color: #2a63a5;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text1 {
  font-weight: bold;
}

.count {
  font-size: 1.4rem;
}

.select-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check {
  display: flex;
}


.text2 {
  margin: 0 0 0 1rem;
}


.goods-cart {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /*background-color: brown;*/
}

.cart {

  /*background-color: #ff9b00;*/

  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 10px;
  box-shadow: 0 0 0.8rem 0 rgb(191 191 191 / 50%);
  border-radius: 1rem 1rem 0 0;

  background-color: var(--color-11);

}

.b-goods {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  /*background-color: #2a63a5;*/
}

.b-goods img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.b-check {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}


.b-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text3 {
  word-break: normal;
  hyphens: auto;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  line-height: 1;
  min-height: 8.3rem;
  margin: 5px 5px 5px 5px;
}

.action {
  /*background-color: #379678;*/
}

.up {
  display: flex;
  justify-content: space-between;
  height: 43px;
}

.plus {
  display: flex;
  background-color: var(--color-12);
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.qty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  font-size: 18px;
  background-color: #fdf7e3;
}

.minus {
  display: flex;
  background-color: var(--color-12);
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
}

.pd {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px 0 5px;
  /*background-color: #e3f1fd;*/
  background-color: #fdf7e3;
}


.price {
  font-size: 10px;
}
.symbol {
  top: -0.7rem;
  position: relative;
  margin-right: 0.2rem;
}

.base-price {
  font-size: 1.8rem;
}

.dot {
  opacity: 0;
}

.kopecks {
  position: relative;
  top: -0.7rem;
  margin-left: -0.3rem;
}


/* ≥270px */
@media (min-width: 16.875em) {

  .head {
    padding: 30px 15px 30px 15px;
  }

  .count {
    margin: 0 0 0 1rem;
  }

  .name {
    justify-content: normal;
  }

  .select-all {
    justify-content: normal;
  }

  .checkbox {
    width: 2.6rem;
    height: 2.6rem;
  }

}
